@keyframes rick {

    to { transform: rotate(35deg); }

}
@keyframes rotate360 {
    to { transform: rotate(360deg); }
  }
  img {
       animation: 2s rotate360 infinite linear; 
       animation-delay: 10s;
    }


#rickroll{
    font-size: 50px;
    background-color: aquamarine;
    animation-name: rick;
    animation-duration: 1s;
    animation-play-state: paused;
    transition: transform 0.56s ease-in-out;
}

#rickroll:hover{
    background-color: chocolate;

    transform: rotate(10deg);
}

body{
    background-color: beige;
}